textarea {
  width: 97.7%;
}

p {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
}

.center {
  margin: 0 auto;
  float: none;
}

.entry {
  padding: 20px 10px;
  margin: 10px;
  background: whiteSmoke;
  border: 1px solid rgb(229, 229, 229);
}

#entry_search {
  border: 10px solid rgb(243, 243, 243);
  border-radius: 3px;
  padding: 12px;
  margin: 30px auto 0 auto;
  display: block;
  width: 90%;
}

@media (min-width: 1030px) {
  .row.entry-data {
    position: fixed;
    top: 70px;
    left: 84px;
  }
}

