textarea {
  width: 97.7%;
}

p {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
}

.center {
  margin: 0 auto;
  float: none;
}

.entry {
  padding: 10px;
  margin: 10px;
  background: whiteSmoke;
  border: 1px solid rgb(212, 212, 212);
}
